In [1]:
import pandas as pd

df = pd.read_csv('../../output_data/4_2_vectorized_ds.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25763 entries, 0 to 25762
Columns: 13202 entries, Unnamed: 0 to tag
dtypes: float64(13200), int64(1), object(1)
memory usage: 2.5+ GB

In [2]:
df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_13191,input_13192,input_13193,input_13194,input_13195,input_13196,input_13197,input_13198,input_13199,tag
0,0,0.187500,0.015747,-0.058594,0.083496,-0.063477,0.122559,0.127930,0.002411,0.263672,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,COMMUNITY
1,1,0.113770,0.110840,0.043213,-0.194336,0.140625,-0.460938,0.022217,-0.084961,-0.047852,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ENVIRONMENT
2,2,-0.051025,0.045898,-0.273438,-0.259766,0.347656,0.026611,-0.217773,-0.182617,-0.247070,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,RELAX
3,3,0.208008,-0.076660,-0.000389,0.123535,0.316406,-0.281250,0.251953,-0.326172,0.026123,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,TRAVEL
4,4,0.011292,0.028931,0.083496,-0.049805,-0.130859,-0.109863,-0.115234,-0.074707,-0.089355,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,ASTRONOMY

In [3]:
df = df.fillna(0)

df.head()

,Unnamed: 0,input_0,input_1,input_2,input_3,input_4,input_5,input_6,input_7,input_8,...,input_13191,input_13192,input_13193,input_13194,input_13195,input_13196,input_13197,input_13198,input_13199,tag
0,0,0.187500,0.015747,-0.058594,0.083496,-0.063477,0.122559,0.127930,0.002411,0.263672,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,COMMUNITY
1,1,0.113770,0.110840,0.043213,-0.194336,0.140625,-0.460938,0.022217,-0.084961,-0.047852,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ENVIRONMENT
2,2,-0.051025,0.045898,-0.273438,-0.259766,0.347656,0.026611,-0.217773,-0.182617,-0.247070,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,RELAX
3,3,0.208008,-0.076660,-0.000389,0.123535,0.316406,-0.281250,0.251953,-0.326172,0.026123,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,TRAVEL
4,4,0.011292,0.028931,0.083496,-0.049805,-0.130859,-0.109863,-0.115234,-0.074707,-0.089355,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,ASTRONOMY

In [4]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score

In [5]:
X = df.drop(['tag', 'Unnamed: 0'], axis=1)
y = df['tag']

y = pd.get_dummies(y)

y = y.astype('float32')

y.shape

(25763, 31)

In [6]:
x_shape = X.shape[1]

x_shape

13200

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

print(X_train.info())
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
Index: 20610 entries, 3043 to 23654
Columns: 13200 entries, input_0 to input_13199
dtypes: float64(13200)
memory usage: 2.0 GB
None
<class 'pandas.core.frame.DataFrame'>
Index: 5153 entries, 2141 to 13238
Columns: 13200 entries, input_0 to input_13199
dtypes: float64(13200)
memory usage: 519.0 MB
None

Test nr 3

In [8]:
import tensorflow as tf
from tensorflow.keras.layers import LeakyReLU

model = tf.keras.models.Sequential()

model.add(tf.keras.layers.Dense(13200, activation='relu'))
model.add(tf.keras.layers.Dense(2* 13200, activation='relu'))
model.add(tf.keras.layers.Dense(4* 13200, activation='relu'))
model.add(tf.keras.layers.Dense(2* 13200, activation='relu'))
model.add(tf.keras.layers.Dense(13200, activation='relu'))
model.add(tf.keras.layers.Dense(31, activation='softmax'))

model.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.001),
    loss=tf.keras.losses.CategoricalCrossentropy(),
    metrics=['accuracy'] 
    )

In [9]:
model.fit(X_train, y_train, validation_data=(X_test, y_test), batch_size=32, epochs=10)

Epoch 1/10
  1/645 [..............................] - ETA: 81:06:57 - loss: 3.4362 - accuracy: 0.0312

In [ ]:
y_pred = np.argmax(model.predict(X_test), axis=1)

y_test_labels = np.argmax(y_test.values, axis=1)

accuracy = accuracy_score(y_test_labels, y_pred)
print(f'Accuracy: {accuracy}')

162/162 [==============================] - 2s 11ms/step
Accuracy: 0.4310110615175626